In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df =pd.read_csv('./dataset_1.csv')

In [4]:
df.head(10)

,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,var_10,...,var_292,var_293,var_294,var_295,var_296,var_297,var_298,var_299,var_300,target
0,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
1,0,0,0.0,3.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
2,0,0,0.0,5.88,0.0,0,0,0,0,0,...,0.0,0,0,3,0,0,0,0.0,67772.7216,0
3,0,0,0.0,14.10,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
4,0,0,0.0,5.76,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
5,0,0,0.0,8.46,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
6,0,0,0.0,8.82,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
7,0,0,0.0,5.94,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0
8,0,0,0.0,2.97,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,1
9,0,0,0.0,0.00,0.0,0,0,0,0,0,...,0.0,0,0,0,0,0,0,0.0,0.0000,0